@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

em, i {
  font-style: italic;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: #222222;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  width: 1138px;
  margin: 0 auto;
}

.header {
  background-color: #222222;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.header__navigation {
  display: none;
}

.header__logo {
  margin: 0 10px 0 0;
}

.header__menu-button {
  background: transparent;
  border: none;
  margin: 0 34px 0 0;
  height: auto;
}

.header__person-link {
  margin: 0 34px 0 0;
  display: inline-block;
  height: auto;
}

.header__basket {
  position: relative;
}

.header__basket-num {
  position: absolute;
  background: #F16D7F;
  color: #fff;
  display: block;
  width: 19px;
  height: 19px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  line-height: 18px;
  top: -20px;
  right: -10px;
}

.header__logo:hover, .header__loupe:hover, .header__menu-button:hover, .header__person-link:hover, .header__basket:hover, .header__basket-num:hover {
  cursor: pointer;
}

.preview {
  display: flex;
  align-items: center;
  background: #F1E4E6;
  position: relative;
}

.preview__img {
  background-color: rgba(240, 248, 255, 0.089);
}

.preview__picture {
  display: block;
}

.preview__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin: 0 0 0 63px;
}

.preview__subtitle {
  display: block;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  font-weight: normal;
}

.preview__subtitle-pink {
  color: #F16D7F;
}

.nav {
  position: absolute;
  display: none;
  background-color: #fff;
  top: 0;
  right: 0;
  min-width: 320px;
  padding: 37px 34px;
  min-height: 100%;
  box-shadow: 0 0 40px #9F9F9F;
}

.nav__active {
  display: block;
  z-index: 10;
}

.nav__cross {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 12px;
  transition: .1s;
}

.nav__cross:hover {
  transform: scale(1.5);
  transition: .1s;
}

.nav__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  color: #000;
}

.nav__item {
  color: #F16D7F;
  text-transform: uppercase;
  margin: 24px 0 0 0;
}

.nav__sub-items {
  margin: 0 0 0 20px;
}

.nav__sub-item {
  color: #6F6E6E;
  margin: 12px 0 0 0;
  text-transform: none;
  line-height: 12px;
}

.nav__sub-item:hover {
  color: #000;
  cursor: pointer;
}

.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 35px 0 0 0;
}

.offers__item {
  width: 360px;
  min-height: 260px;
  position: relative;
  margin: 30px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.offers__item:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.offers__item-woman {
  background-image: url("../img/woman.jpg");
}

.offers__item-man2 {
  background-image: url("../img/man2.jpg");
}

.offers__item-child {
  background-image: url("../img/child.jpg");
}

.offers__item-accesories {
  background-image: url("../img/acsessuares.jpg");
  min-height: 180px;
  flex-grow: 1;
}

.offers__title, .offers__description {
  font-style: normal;
  z-index: 2;
  text-transform: uppercase;
  position: relative;
}

.offers__description {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.offers__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #F16D7F;
}

.products {
  margin: 0px 0 95px 0;
  position: relative;
}

.products__title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 96px 0 0 0;
}

.products__description {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #9F9F9F;
  margin: 0 0 23px 0;
}

.products__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 18px 0;
}

.products__item {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 360px;
  margin: 15px 0 15px 0;
}

.products__illustration {
  position: relative;
}

.products__picture {
  display: block;
}

.products__hidden-link {
  display: none;
}

.products__illustration:hover .products__hidden-link {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 22, 22, 0.7);
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.products__tobasket-link {
  border: 2px solid #fff;
  padding: 10px 13px;
  text-decoration: none;
  color: #fff;
  vertical-align: center;
  display: flex;
  align-items: center;
}

.products__tobasket-img {
  margin: 0 11px 0 0;
}

.products__picture {
  width: 100%;
}

.products__information {
  display: flex;
  flex-flow: column wrap;
  padding: 24px 16px 20px 16px;
  background: #F8F8F8;
}

.products__name {
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

.products__desc {
  color: var(--lightgrey);
  padding: 12px 0 18px 0;
  font-weight: 300;
}

.products__price {
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
}

.products__button {
  display: inline-block;
  margin: 23px auto;
  background-color: #F16D7F;
  color: #fff;
  padding: 13px 38px;
  border: 2px solid #F16D7F;
  font-size: 16px;
  text-decoration: none;
}

.products__button:hover {
  background: transparent;
  color: #F16D7F;
}

.advantages {
  background-color: #222224;
  color: #F8F8F8;
}

.advantages__list {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  justify-content: space-between;
  padding: 104px 0;
}

.advantages__item {
  list-style: none;
  margin: 0;
  max-width: 360px;
  text-align: center;
}

.advantages__name {
  padding: 19px 0 16px 0;
  font-size: 19.96px;
  line-height: 24px;
}

.advantages__desc {
  padding: 0 20px;
}

.aboutUs {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../img/moutaines.jpg");
  background-size: auto 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.aboutUs__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.aboutUs__autor {
  max-width: 40%;
  padding: 100px 30px 130px 30px;
}

.aboutUs__quote {
  font-size: 20px;
  line-height: 24px;
}

.aboutUs__autor-img {
  max-width: 145px;
  margin: 0 0 30px 0;
  padding: 10px;
}

.aboutUs__form-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.aboutUs__form-subtitle {
  display: block;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.aboutUs__form-fild {
  display: flex;
  justify-content: center;
  margin: 39px 0 0 0;
}

.aboutUs__form-input, .aboutUs__form-btn {
  margin: 0;
  display: block;
  height: 49px;
}

.aboutUs__form-input {
  width: 256px;
  border-radius: 25px 0 0 25px;
  padding: 6px 64px 7px 22px;
  background: #E1E1E1;
  color: #222224;
  border: none;
  outline: none;
}

.aboutUs__form-btn {
  width: 86px;
  border-radius: 0 25px 25px 0;
  padding: 7px 7px 5px 6px;
  color: #fff;
  background-color: #F16D7F;
  border: none;
  outline: none;
}

.aboutUs__form-btn:hover {
  background: #E05C6E;
  cursor: pointer;
}

.footer {
  background: #222222;
  color: #F8F8F8;
}

.footer__flexBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copy {
  margin: 30px 10px;
}

.footer__social-links {
  display: flex;
  flex-flow: row wrap;
}

.footer__social-link {
  display: block;
  background-color: #fff;
  padding: 8px;
  width: 32px;
  height: 32px;
  text-align: center;
  margin: 7px;
}

.footer__social-link:hover {
  background-color: #F16D7F;
}

.footer__social-link:hover .footer__social-icon {
  filter: invert(100%);
}

.breadcrumbs {
  position: relative;
  width: 100%;
  background: #E1E1E1;
}

.breadcrumbs_pink {
  background: #F8F3F4;
}

.breadcrumbs__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: row wrap;
  align-items: center;
  width: 100%;
  min-height: 70px;
  padding: 60px 0;
}

.breadcrumbs__title {
  text-transform: uppercase;
  color: #F16D7F;
  font-size: 24px;
  line-height: 28px;
}

.breadcrumbs__way {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #636363;
}

.breadcrumbs__sub-item {
  color: #F16D7F;
}

.breadcrumbs__unit, .breadcrumbs__item, .breadcrumbs__sub-item {
  margin: 0 5px;
}

.breadcrumbs__unit:hover, .breadcrumbs__item:hover, .breadcrumbs__sub-item:hover {
  cursor: pointer;
}

.filters {
  position: relative;
  margin: 50px 15px 30px 15px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
}

.filters__filter {
  color: #000;
  position: relative;
  font-weight: 600;
  width: 33.333%;
}

.filters__filter:hover {
  cursor: pointer;
}

.filters__filter::after {
  position: absolute;
  top: 3px;
  left: 55px;
  content: "";
  background: url(../img/filter.svg) no-repeat;
  background-size: 15px;
  width: 20px;
  height: 20px;
}

.filters__box {
  width: 360px;
  display: none;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: space-around;
  position: absolute;
  top: -13px;
  left: -15px;
  z-index: 10;
  background: #fff;
  box-shadow: 0 0 30px #E1E1E1;
  padding: 13px 15px;
}

.filters__box_active {
  display: flex;
}

.filters__box-title {
  color: #F16D7F;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  margin: 0 0 16px 0;
  position: relative;
}

.filters__box-title::after {
  position: absolute;
  top: 3px;
  left: 55px;
  content: "";
  background: url(../img/filter_pink.svg) no-repeat;
  background-size: 15px;
  width: 20px;
  height: 20px;
}

.filters__box-items, .filters__box-item {
  display: flex;
  flex-direction: column;
}

.filters__box-item-name {
  border-bottom: 1px solid #E1E1E1;
  border-left: 5px solid #F16D7F;
  padding: 11px;
  color: #F16D7F;
  margin: 16px 0;
}

.filters__box-item-links {
  display: none;
  flex-direction: column;
  margin: 8px 0 0 0;
}

.filters__box-item-links_active {
  display: flex;
}

.filters__box-item-link {
  color: #6F6E6E;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
  padding-left: 16px;
  margin-bottom: 11px;
}

.filters__box-item-link:hover {
  text-decoration: underline;
}

.filters__sub-filters {
  display: flex;
  flex-flow: row wrap;
  width: 33.333%;
}

.filters__sub-filter {
  padding: 0 50px 0 0;
  color: #636363;
  text-align: right;
  position: relative;
  text-align: right;
}

.filters__sub-filter:hover {
  cursor: pointer;
}

.filters__sub-filter::after {
  position: absolute;
  top: 7px;
  right: 20px;
  content: "";
  background: url(../img/downarrow.svg) no-repeat;
  background-size: 10px;
  width: 20px;
  height: 20px;
}

.filters__sub-filter-items {
  display: none;
  width: 100%;
  color: #6F6E6E;
  padding: 7px;
  box-shadow: 0 0 20px #E1E1E1;
  position: absolute;
  top: 20px;
  left: -10px;
  background-color: #fff;
  text-align: left;
  text-transform: none;
}

.filters__sub-filter-items_active {
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.filters__sub-filter-item {
  visibility: hidden;
}

.filters__sub-filter-item:hover {
  cursor: pointer;
}

.filters__sub-filter-span {
  position: relative;
}

.filters__sub-filter-span:hover {
  cursor: pointer;
}

.filters__sub-filter-span::before {
  content: "";
  width: 12px;
  height: 12px;
  display: block;
  border: 1px solid #9F9F9F;
  position: absolute;
  top: 2px;
  left: -20px;
  z-index: 10;
  border-radius: 1px;
}

.filters__sub-filter-span::after {
  display: none;
}

.filters__sub-filter-item:not(:disabled):active + .filters__sub-filter-span::before {
  border: 1px solid #9F9F9F;
  background: #6F6E6E;
}

.filters__sub-filter-item:not(:disabled):not(:checked) + .filters__sub-filter-span:hover::before {
  border: 1px solid #6F6E6E;
}

.filters__sub-filter-item:checked + .filters__sub-filter-span::after {
  content: "✓";
  font-size: 20px;
  color: #6F6E6E;
  width: 15px;
  height: 17px;
  display: block;
  position: absolute;
  top: -2px;
  left: -19px;
  z-index: 9;
  overflow: hidden;
}

.pages {
  max-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 48px auto 96px auto;
}

.pages__prev-btn, .pages__next-btn {
  max-width: 14px;
  margin: 15px;
}

.pages__prev-btn:hover, .pages__next-btn:hover {
  cursor: pointer;
}

.pages__page {
  color: #9F9F9F;
  font-size: 16px;
  line-height: 19px;
  margin: 12px 15px 13px 0;
  position: relative;
  text-decoration: none;
}

.pages__page:hover {
  cursor: pointer;
}

.pages__page_active {
  color: #F16D7F;
}

.pages__page_last {
  position: relative;
  margin: 12px 0 13px 0;
}

.pages__page_last::before {
  content: "....";
  position: absolute;
  left: -15px;
  letter-spacing: .1px;
}

.slider {
  position: relative;
  height: 777px;
  width: 100%;
  max-width: 1600px;
  background: #F8F8F8;
  border: 2px solid #E1E1E1;
}

.slider__prev-btn, .slider__next-btn {
  position: absolute;
  top: calc(50% - 24px);
  width: 48px;
  height: 48px;
  background: #E1E1E1;
  border: none;
  outline: none;
}

.slider__prev-btn {
  left: 0;
}

.slider__next-btn {
  right: 0;
}

.slider__prev-btn:hover, .slider__next-btn:hover {
  cursor: pointer;
}

.slider__prev-btn::before, .slider__next-btn::before {
  content: " ";
  background-image: url("../img/slider_black_arrow.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  position: absolute;
  top: 12px;
  right: 17px;
  width: 12px;
  height: 21px;
  z-index: 10;
}

.slider__next-btn::before {
  transform: rotate(180deg);
}

.slider__prev-btn:hover::before, .slider__prev-btn:active::before {
  background-image: url("../img/slider_red_arrow.svg");
  transform: rotate(180deg);
  top: 9px;
  right: 19px;
}

.slider__next-btn:hover::before, .slider__next-btn:active::before {
  background-image: url("../img/slider_red_arrow.svg");
  transform: rotate(0deg);
  top: 15px;
  right: 15px;
}

.slider__imgs {
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  height: 770px;
  width: 597px;
}

.slider__img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  width: 100%;
}

.slider__img_active {
  transform: translateX(0);
}

.product-desk {
  width: 100%;
  max-width: 1140px;
  border: 2px solid #E1E1E1;
  min-height: 300px;
  position: relative;
  top: -65px;
  margin: 0 auto 80px auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px;
  text-align: center;
  font-weight: 300;
}

.product-desk__sub-title {
  color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  position: relative;
  margin: 0 auto 27px auto;
}

.product-desk__sub-title::after {
  content: "";
  width: 63px;
  height: 3px;
  background: #F16D7F;
  position: absolute;
  top: 28px;
  left: calc(50% - 32px);
}

.product-desk__title {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0 auto 48px auto;
  color: #4D4D4D;
  font-weight: 300;
}

.product-desk__text {
  font-size: 14px;
  line-height: 17px;
  max-width: 640px;
  color: #5E5E5E;
  margin: 0 auto 32px auto;
}

.product-desk__price {
  width: 100%;
  max-width: 640px;
  margin: 0 auto 130px auto;
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  position: relative;
}

.product-desk__price::after {
  content: "";
  width: 630px;
  height: 1px;
  background: #E1E1E1;
  position: absolute;
  top: 95px;
  left: calc(50% - 320px);
}

.product-desk__filters {
  display: flex;
  flex-flow: row wrap;
  max-width: 640px;
  justify-content: center;
  align-items: center;
}

.product-desk__filter {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  padding-right: 42px;
  position: relative;
  margin: 0 0 48px 0;
  color: #5E5E5E;
  font-weight: 400;
}

.product-desk__filter:hover {
  cursor: pointer;
}

.product-desk__filter::after {
  content: "";
  background: url("../img/tobottom_arrow.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  width: 10px;
  height: 6px;
  position: absolute;
  top: 5px;
  right: 22px;
}

.product-desk__bth {
  border: 1px solid #F16D7F;
  color: #F16D7F;
  padding: 14px 56px 14px 72px;
  font-size: 16px;
  line-height: 19px;
  margin: 0 auto;
  position: relative;
  background: none;
  font-weight: 400;
}

.product-desk__bth:hover {
  cursor: pointer;
  color: #E05C6E;
  border-color: #E05C6E;
}

.product-desk__bth::before {
  content: "";
  width: 26px;
  height: 24px;
  position: absolute;
  top: 14px;
  left: 23px;
  background: url("../img/basket_pink.svg");
  background-repeat: no-repeat;
  background-size: 26px;
}

.product-desk__filter-items {
  display: none;
  width: 100%;
  color: #6F6E6E;
  padding: 7px;
  box-shadow: 0 0 20px #E1E1E1;
  position: absolute;
  top: 20px;
  left: -10px;
  background-color: #fff;
  text-align: left;
  text-transform: none;
}

.product-desk__filter-items_active {
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.product-desk__filter-item {
  visibility: hidden;
}

.product-desk__filter-item:hover {
  cursor: pointer;
}

.product-desk__filter-item_number {
  visibility: visible;
  width: 50px;
}

.product-desk__filter-span {
  position: relative;
}

.product-desk__filter-span:hover {
  cursor: pointer;
}

.product-desk__filter-span::before {
  content: "";
  width: 12px;
  height: 12px;
  display: block;
  border: 1px solid #9F9F9F;
  position: absolute;
  top: 2px;
  left: -20px;
  z-index: 10;
  border-radius: 1px;
}

.product-desk__filter-span::after {
  display: none;
}

.product-desk__filter-item:not(:disabled):active + .product-desk__filter-span::before {
  border: 1px solid #9F9F9F;
  background: #6F6E6E;
}

.product-desk__filter-item:not(:disabled):not(:checked) + .product-desk__filter-span:hover::before {
  border: 1px solid #6F6E6E;
}

.product-desk__filter-item:checked + .product-desk__filter-span::after {
  content: "✓";
  font-size: 20px;
  color: #6F6E6E;
  width: 15px;
  height: 17px;
  display: block;
  position: absolute;
  top: -2px;
  left: -19px;
  z-index: 9;
  overflow: hidden;
}

.order {
  padding: 96px 0 128px 0;
}

.order__box {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
}

.order__carts {
  width: 60%;
  margin: 0 95px 0 0;
}

.order__cart {
  width: 90%;
  max-width: 652px;
  box-shadow: 15px 15px 30px #E1E1E1;
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 40px 0;
  position: relative;
}

.order__cart-cross {
  position: absolute;
  top: 28px;
  right: 22px;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/vector.svg");
  background-size: 20px;
  background-repeat: no-repeat;
}

.order__cart-cross:hover {
  cursor: pointer;
}

.order__cart-img {
  width: auto;
  height: 306px;
}

.order__cart-data {
  padding: 22px 31px 64px 31px;
  text-transform: uppercase;
  color: #575757;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order__cart-name {
  color: #222222;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  max-width: 264px;
}

.order__cart-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-transform: none;
  color: #575757;
}

.order__cart-price {
  color: #F16D7F;
}

.order__cart-size {
  text-transform: uppercase;
}

.order__cart-price, .order__cart-color, .order__cart-size {
  margin: 0 0 0 10px;
}

.order__cart-quantity {
  margin: 0 0 0 24px;
  width: 44px;
  height: 25px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  border: 1px solid #E1E1E1;
  border-radius: 0;
}

.order__cart-quantity::-webkit-outer-spin-button, .order__cart-quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.order__cart-quantity {
  -moz-appearance: textfield;
}

.order__cart-quantity:hover, .order__cart-quantity:focus {
  -moz-appearance: number-input;
}

.order__cart-quantity::-webkit-inner-spin-button, .order__cart-quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.order__cart-quantity:hover {
  cursor: pointer;
}

.order__btns {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 72px 0 0 0;
}

.order__btn {
  flex-basis: 235px;
  color: #000;
  padding: 17px 39px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  border: 1px solid #9F9F9F;
  background: none;
  text-transform: uppercase;
  font-family: Lato;
}

.order__btn:hover {
  cursor: pointer;
}

.order__data {
  width: calc(40% - 95px);
  display: flex;
  flex-flow: row wrap;
}

.order__data-form {
  width: 100%;
}

.order__data-form-fildset {
  display: flex;
  flex-direction: column;
  width: 360px;
  font-weight: 300;
  align-items: flex-start;
}

.order__data-form-legend {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin: 0 0 21px 0;
}

.order__data-form-input {
  border: 1px solid #A4A4A4;
  width: 100%;
  padding: 12px 16px 16px 16px;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 21px;
  color: #222222;
}

.order__data-form-input:first-of-type {
  color: #B1B1B1;
}

.order__data-form-btn {
  font-family: Lato;
  font-size: 11px;
  font-weight: 300;
  display: inline-block;
  outline: none;
  border: 1px solid #A4A4A4;
  line-height: 13px;
  text-transform: uppercase;
  padding: 9px 14px 11px 14px;
  background: none;
  border-radius: 0;
  margin: 0 0 57px 0;
  color: #4A4A4A;
}

.order__data-form-btn:hover {
  cursor: pointer;
}

.order__data-total {
  width: 360px;
  background: #F5F3F3;
  color: #222222;
  text-transform: uppercase;
  padding: 40px 35px;
  text-align: right;
}

.order__data-total-sub {
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  margin: 0 0 12px 0;
}

.order__data-total-sub-value {
  margin: 0 0 0 25px;
}

.order__data-total-global {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  margin: 0 0 40px 0;
  position: relative;
}

.order__data-total-global::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #E1E1E1;
  position: absolute;
  top: 38px;
  right: 0%;
}

.order__data-total-global-value {
  color: #F16D7F;
  font-weight: 700;
  margin: 0 0 0 25px;
}

.order__data-total-btn {
  color: #fff;
  background: #F16D7F;
  padding: 20px 40px;
  font-family: Lato;
  text-transform: uppercase;
  width: 100%;
  border: none;
}

.order__data-total-btn:hover {
  cursor: pointer;
  background: #E05C6E;
}
/*# sourceMappingURL=style.css.map */