    $dark-blue: #222222;
    $pink:#F16D7F;
    $darkpink: #E05C6E;
    $lightpink: #F8F3F4;
    $grey:rgba(33, 22, 22, 0.7);
    $titelsgrey:#4D4D4D;
    $grey10: #4A4A4A;
    $grey11: #B1B1B1;
    $grey12: #A4A4A4;
    $extragrey:#575757;
    $simplegrey: #5E5E5E;    
    $newgrey: #636363;
    $mediumgrey: #6F6E6E;
    $lightgrey:#9F9F9F;
    $lightergrey:#E1E1E1;
    $lightergrey1:#EAEAEA;
    $grey13: #F5F3F3;
    $brown:rgba(0, 0, 0, .5);
    $black: #000;
    $darkbrown:#222224;
    $white: #fff;
    $lightblue: #F8F8F8;

    $decktop-width:1220px;
    $tablet-width: 769px;
    $mobile-width: 641px;
