.breadcrumbs {
    position: relative;
    width: 100%; 
    background: $lightpink;

    &_pink {
        background: $lightpink;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        min-height: 70px;
        padding: 60px 0;

        @include mobile {
            flex-direction: column;
            padding: 25px 0 45px 0;
            min-height: 148px;
            justify-content: center;
        }
    }

    &__title {
        text-transform: uppercase;
        color: $pink;
        font-size: 24px;
        line-height: 28px;
    }

    &__way {
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: $newgrey;

        @include mobile {            
            margin-top: auto;
        }
    }

    &__sub-item {
        color: $pink;
        font-weight: 700;
    }

    &__unit-link, &__item-link {
        color: $newgrey;
        text-decoration: none;
    }

    &__unit-link:hover, &__item-link:hover {
        cursor: pointer;
        text-decoration: none;
    }

    &__unit, &__item, &__sub-item {
        margin: 0 5px;
    }

    &__unit:hover, &__item:hover {
        cursor: pointer;
    }
}