.filters {
    position: relative;
    margin: 50px 0 30px 0;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    max-width: 700px;
    align-items: center;    
    font-size: 14px;
    line-height: 17px;

    @include desktop {
        margin: 50px 15px 30px 15px;
    }

    @include tablet {
        margin: 50px 0px 30px 0px;
    }

    @include mobile {
        font-size: 12px;
        line-height: 14px;        
        margin: 50px 0px 30px 0px;
    }

    &__filter {
        color: $black;
        position: relative; 
        font-weight: 600;
    }

    &__filter:hover {
        cursor: pointer;
    }

    &__filter::after {
        position: absolute;
        top: 3px;
        left: 55px;
        content: "";
        background: url(../img/filter.svg) no-repeat;
        background-size: 15px;
        width: 20px;
        height: 20px;

        @include mobile {
            display: none;
        }
    }

    &__filter::before {
        display: none;

        @include mobile {
            display: inline-block;
            position: absolute;
            top: -10px;
            left: 0;
            content: "";
            background: url(../img/filter.svg) no-repeat;
            width: 38px;
            height: 25px;
            background-size: cover;
        }
    }

    &__name {

        @include mobile {
            display: none;
        }
    }

    &__box {
        width: 360px;
        display: none;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: space-around;
        position: absolute;
        top: -13px;
        left: -15px;
        z-index: 10;
        background: $white;
        box-shadow: 0 0 30px $lightergrey;        
        padding: 13px 15px 13px 15px;

        @include mobile {
            padding: 23px 15px 23px 15px;
            top: -23px;
        }        
    }

    &__box_active {
        display: flex;
    }

    &__box-title {
        color: $pink;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 17px;
        font-weight: 600;
        margin: 0 0 16px 0;
        position: relative;
    }

    &__box-title::after {
        position: absolute;
        top: 3px;
        left: 55px;
        content: "";
        background: url(../img/filter_pink.svg) no-repeat;
        background-size: 15px;
        width: 20px;
        height: 20px;

        @include mobile {
            display: none;
        }
    }

    &__box-title::before {
        display: none;

        @include mobile {
            display: inline-block;
            position: absolute;
            top: -10px;
            left: 0;
            content: "";
            background: url(../img/filter_pink.svg) no-repeat;
            width: 38px;
            height: 25px;
            background-size: cover;
        }
    }

    &__box-items, &__box-item {
        display: flex;
        flex-direction: column;
    }

    &__box-item-name {
        border-bottom: 1px solid $lightergrey;
        border-left: 5px solid $pink;
        padding: 11px;
        color: $pink;        
        margin: 16px 0;
    }

    &__box-item-links {        
        display:none;
        flex-direction: column;
        margin: 8px 0 0 0;
    }

    &__box-item-links_active {
        display: flex;
    }

    &__box-item-link {
        color: $mediumgrey;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        text-transform: none;
        font-weight: 400;
        padding-left: 16px;
        margin-bottom: 11px;
    }

    &__box-item-link:hover {
        text-decoration: underline;
    }

    &__sub-filters {
        display: flex;
        flex-flow: row;
    }


    &__sub-filter {
        padding: 0 50px 0 0;
        color: $newgrey;
        text-align: right;
        position: relative;
        text-align: right;
    }

    &__sub-filter_last {
        padding: 0 25px 0 0;
    }

    &__sub-filter:hover {
        cursor: pointer;
    }

    &__sub-filter::after {
        position: absolute;
        top: 7px;
        right: 20px;
        content: "";
        background: url(../img/downarrow.svg) no-repeat;
        background-size: 10px;
        width: 20px;
        height: 20px;
    }

    &__sub-filter_last::after {        
        right: -5px;
    }

    &__sub-filter-items {
        display: none;
        width:100%;
        color: $mediumgrey;
        padding: 7px;
        box-shadow: 0 0 20px $lightergrey;
        position: absolute;
        top: 20px;
        left: -10px;
        background-color: $white;
        text-align: left;
        text-transform: none;
    }

    &__sub-filter-items_active {
        display: flex;
        flex-direction: column;
        z-index: 10;
    }

    &__sub-filter-item {
        visibility: hidden;
    }

    &__sub-filter-item:hover {
        cursor: pointer;
    }

    &__sub-filter-span {
        position: relative;
    }

    &__sub-filter-span:hover {
        cursor: pointer;
    }

    &__sub-filter-span::before {
        content: "";
        width: 12px;
        height: 12px;
        display: block;
        border: 1px solid $lightgrey;
        position: absolute;
        top: 2px;
        left: -20px;
        z-index: 10;
        border-radius: 1px;
    }

    &__sub-filter-span::after {
        display: none;
    }

    &__sub-filter-item:not(:disabled):active+&__sub-filter-span::before {        
        border: 1px solid $lightgrey;
        background: $mediumgrey;
    }

    &__sub-filter-item:not(:disabled):not(:checked)+&__sub-filter-span:hover::before {
        border: 1px solid $mediumgrey;
    }

    &__sub-filter-item:checked+&__sub-filter-span::after {
        content: "✓";
        font-size: 20px;
        color: $mediumgrey;
        width: 15px;
        height: 17px;
        display: block;
        position: absolute;
        top: -2px;
        left: -19px;
        z-index: 9;      
        overflow: hidden;
    }
    

    
}