.products {
    margin: 0px 0 95px 0;
    position: relative;

    &__title {
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        margin: 96px 0 0 0;
     }
     
    &__description {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $lightgrey;
        margin: 0 0 23px 0;
    }
    
    &__items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 18px 0;

        @include mobile {
            justify-content: space-around;
        }
    }
    
    &__item {
        display: flex;
        flex-direction: column;
        width: calc(33% - 10px);        
        max-width: 360px;
        margin: 15px 15px 15px 0;
        
        @include desktop {
            width: calc(33.3% - 30px);
            margin: 15px 15px 15px 15px;
        }

        @include tablet {
            width: calc(50% - 8px);
            margin: 15px 0px 0px 0px;
        }

        @include mobile {
            width: calc(100%);
            margin: 15px auto;
            margin: 15px auto 0 auto;
        }
    }

    &__item:nth-of-type(3n) {
        margin: 15px 0;

        @include desktop {
            margin: 15px 15px 15px 15px; 
        }

        @include tablet {
            margin: 15px 0px 0px 0px;
        }

        @include mobile {
            margin: 15px 0 0 0; 
        }
    }

    &__item:nth-of-type(2n) {
        @include tablet {
            margin: 15px 0 0 0;
        }

        @include mobile {
            margin: 15px 0 0 0; 
        }
    }
    
    &__illustration {
        position: relative;
    }
    
    &__picture {
       display: block;
    }
    
    &__hidden-link {
       display: none;
    }
    
    
    &__illustration:hover .products__hidden-link {
        display: flex;
        height: 100%;
        width: 100%;
        background-color: $grey;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    &__tobasket-link {
        border: 2px solid $white;
        padding: 10px 13px;
        text-decoration: none;
        color: $white;    
        vertical-align: center;
        display: flex;
        align-items: center;
    } 
    
    &__tobasket-img {
        margin: 0 11px 0 0;
    }
    
    &__picture {
        width: 100%;
    }
    
    &__information {
        display: flex;
        flex-flow: column wrap;
        padding: 24px 16px 20px 16px;   
        background: $lightblue;
    }
    
    &__name {
        font-style: normal;
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
    }
    
    &__desc {
        color: var(--lightgrey);
        padding: 12px 0 18px 0;
        font-weight: 300;
    }
    
    &__price {
        color: $pink;
        font-size: 16px;
        line-height: 19px;
    }
    
    &__button {
        display: inline-block;
        margin: 23px auto;
        background-color: $pink;
        color: $white;
        padding: 13px 38px;
        border: 2px solid $pink;
        font-size: 16px;
        text-decoration: none;

        @include mobile {
            background: transparent;
            color: $pink;
        }
    }
    
    &__button:hover {
        background: transparent;
        color: $pink;

        @include mobile {
            background: $pink;
            color: white;
        }
    }
     
 }
 
 